@use '../../../style/mixins';
@use '../../../style/reset';
@use '../../../style/vars';

.section2-about {
    @include mixins.Flex(row, center, center, 0px);
    &__img{
        width: 60%;
    }
    .section2-textbox{
        @include mixins.Flex(column, center, center, 16px);
        &__wrap{
            @include mixins.Flex(column, center, center, 48px);
            &-text{
                @include mixins.Syne(20px, 600, 24px);
            }
            &-title{
                @include mixins.Syne(56px, 700, 67px);
                width: 60%;
            }
        }
        &__text{
            @include mixins.Syne(18px, 500, 24px);
            opacity: 0.6;
            width: 60%;
        }
    }
}