@use '../../style/mixins';
@use '../../style/reset';
@use '../../style/vars';

.header {
    @include mixins.Flex(row, flex-start, space-between, 0px);
    padding: 20px;
    &-btns{
        @include mixins.Flex(row, center, center, 10px);
        &__btn1{
            @include mixins.Syne(16px, 700, 19px);
            color: vars.$button-color;
            border-right: 1px solid vars.$secondary-color; 
            padding: 10px 5px;
        }
        &__btn2{
            @include mixins.Syne(16px, 700, 19px);
            color: vars.$main-color;
            background-color: vars.$button-color;
            padding: 10px 26px;
            border-radius: 32px;
        }
    }
}