@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@use './style/vars';
@use './style/mixins';
@use './style/reset';


body {
    background-color: $main-color;
    color: $secondary-color;
    padding: 20px;
}